.section-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 80px;
  width: 100%;
  padding: 80px 160px 80px 160px;
}

  .section-container p {
    font-size: 22px;
  }

  .section-container h4 {
    font-weight: 700;
  }

.section-content {
  width: 100%;
}

.img-section-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 136px;
  width: 100%;
  padding: 80px 160px 80px 160px;
  align-items: center;
}

  .img-section-container p {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .img-section-container h4 {
    font-weight: 700;
    margin-bottom: 16px;
  }

  .img-section-img {
    width: 320px;
  }
