body {
  color: white;
  background-color: rgb(19, 22, 39);
  font-family: 'Inter Tight', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 32px;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}
